<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis의 환경 설정 문서 입니다... -->
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


	<!-- DB연결 정보가 저장된 'dbinfo.propetries'파일에 대한 정보 구성하기  -->
	<properties resource="kr/or/ddit/mybatis/config/dbinfo.properties"/>
	
	<!-- 기본 설정 -->
	<settings>
	<!-- 데이터 null로 전달되면 빈칸으로 처리하지 말고 null로 처리하라 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 사용되는 데이터 저장용 객체(보통VO객체)의
		긴 전체 경로를 포함한 클래스명을 짧은 이름으로 사용하기 위한 별칭 설정-->

	<typeAliases>
		<!-- 형식 : <typeAliases type="전체 이름" alias="별칭이름"/> -->
		<typeAlias type="kr.or.ddit.board.vo.BoardVO" alias="boardVo"/>
		<typeAlias type="kr.or.ddit.member.vo.MemberVO" alias="memVo"/>
		<typeAlias type="kr.or.ddit.member.vo.ZipVO" alias="zipVo"/>
		<typeAlias type="kr.or.ddit.board.vo.ReplyVO" alias="ReplyVO"/>
		<typeAlias type="kr.or.ddit.board.vo.PageVO" alias="pageVO"/>
	
	</typeAliases>
	
	<!-- DB연결을 위한 설정 -->
	<environments default="oracleDay">
		<environment id="oracleDay">
			<transactionManager type = "JDBC"/>
			<dataSource type ="POOLED">
				<!-- 연결 정보 설정 -->
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pass}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- DB에서 사용되는 SQL문이 작성된 mapper파일을 등록한다. -->
	<mappers>
		<!-- 형식 : <mapper resource ="경로명/mapper파일명.xml" -->
		<mapper resource="kr/or/ddit/mybatis/mapper/board-mapper.xml"/>
		<mapper resource="kr/or/ddit/mybatis/mapper/member-mapper.xml"/>
	
	</mappers>
	
</configuration>	